@import url("https://fonts.googleapis/css?family=Lato&display=swap");

:root {
    --bg-col1: rgb(247, 247, 247) 23.8%;
    --bg-col2: rgb(202, 228, 251) 92%;
    --font-col: rgb(47, 93, 124);
    --player-bg: #fff;
    --shadow: 0 20px 20px 0 rgba(123, 172, 228, 0.6);
    --action: #b1dbf6;
    --action-big: #5d9dc8;
    --music-info: rgba(255, 255, 255, 0.5);
    --progress: #5d9dc8;
    --cover-shadow: 0 0 15px rgba(13, 38, 71, 0.664);
}

* {
    font-family: "Lato", sans-serif;
    box-sizing: border-box;
}

[data-theme="dark"] {
    --bg-col1: rgb(47, 47, 47) 23.8%;
    --bg-col2: rgb(26, 26, 26) 92%;
    --font-col: rgb(158, 158, 158);
    --player-bg: rgb(46, 46, 46);
    --shadow: 0 20px 20px 0 rgba(20, 20, 20, 0.6);
    --action: #909090;
    --action-big: #cccccc;
    --music-info: rgba(20, 20, 20, 0.5);
    --progress: #ffffff;
    --cover-shadow: 0 0 15px rgba(0, 0, 0, 0.507);
}

body {
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(0deg, var(--bg-col1), var(--bg-col2));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    color: var(--font-col);
}

.music-container {
    background-color: var(--player-bg);
    border-radius: 15px;
    box-shadow: var(--shadow);
    display: flex;
    padding: 20px 30px;
    position: relative;
    margin: 100px 0;
    z-index: 10;
}

.img-container {
    width: 110px;
    position: relative;
}

.img-container::after {
    content: "";
    background-color: var(--player-bg);
    height: 20px;
    width: 20px;
    position: absolute;
    left: 50%;
    bottom: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.img-container img {
    width: inherit;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    left: 0;
    box-shadow: var(--cover-shadow);
    animation: rotate 3s linear infinite;
    animation-play-state: paused;
}

.music-container.play .img-container img {
    animation-play-state: running;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.navigatin {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.action-btn {
    background-color: var(--player-bg);
    border: 0;
    color: var(--action);
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    margin: 0 20px;
}

.action-btn-big {
    color: var(--action-big);
    font-size: 30px;
}

.action-btn:focus {
    outline: 0;
}

.music-info {
    background-color: var(--music-info);
    border-radius: 15px 15px 0 0;
    position: absolute;
    top: 0;
    left: 20px;
    width: calc(100% - 40px);
    opacity: 0;
    padding: 10px 10px 10px 150px;
    transform: translateY(0%);
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
}

.music-info h4 {
    margin: 0;
    padding-top: 5px;
    color: var(--font-col);
}

.music-container.play .music-info {
    opacity: 1;
    transform: translateY(-100%);
}

.progress-container {
    background: var(--player-bg);
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    height: 4px;
    width: 100%;
}

.progress {
    background-color: var(--progress);
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
}

#darkmode {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    padding: 4px;
    border-radius: 50%;
    color: var(--action);
}
